@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

$brandPrimary: #458eff;
$brandSecondary: #3c3c3c;
$accent: #3498db;
$accent_hover: #2980b9;


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: $brandSecondary;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
p {
  font-size: 15px;
  color: $brandSecondary;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.title {
  font-weight: 700;
}

::-moz-selection {
  color: #fff;
  background: $brandPrimary;
}

::selection {
  color: #fff;
  background: $brandPrimary;
}
.active {
  color: $brandPrimary !important;
}
.on {
  color: $brandPrimary !important;
}
.section-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: $brandSecondary;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
.section-title-white {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
.section-title-br {
  border-top: 1px solid $brandPrimary;
  height: 1px;
  margin: 15px auto 0;
  position: relative;
  width: 8%;
}
.ru-btn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 17px;
  padding: 10px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  min-width: 120px;
  border-radius: 20px;
}
.ru-btn:hover, .ru-btn:active, .ru-btn:focus {
  color:#fff;
  background:$brandPrimary;
  border: 1px solid $brandPrimary;
}
.ru-btn-sm {
  color: $brandSecondary;
  background: transparent;
  border: 1px solid $brandSecondary;
  font-size: 17px;
  padding: 6px 10px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  min-width: 80px;
}
.ru-btn-sm:hover, .ru-btn-sm:active, .ru-btn-sm:focus {
  color:#fff;
  background:$brandPrimary;
  border: 1px solid $brandPrimary;
}
.top-space {
  margin-top: 4%;
}
.no-padding {
  padding: 0 !important;
}

/*-----------Navigation-----------*/
#navigation {
  background-color: #fff;
  border-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  height: 70px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav>li>a {
  color: $brandSecondary;
  text-align: center;
}
.navbar-default .navbar-nav>li>a:hover {
  color: $brandPrimary;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-top: 10px;
}
.navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: $brandSecondary;
  font-size: 28px;
}
.navbar-brand img {
  position: relative;
  bottom: 9.5px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  background-color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: $brandPrimary;
  background-color: #FFFFFF;
}
/*-----------Home Section-----------*/

#home {
  width: 100%;
  min-height: 100vh;
  background: url("../img/hero-img.jpg")no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 450px;
  text-align: center;
}
#home h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 65px;
}
#home h3 span {
  color: $brandPrimary;
}
#home p {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  margin-top: 1%;
}
#home a {
  margin-top: 3%;
}

/*-----------product Section-----------*/

#product {
  width: 100%;
  min-height: 620px;
  padding-top: 5%;
}
.product-desc {
  padding-top: 3%;
}
.product-desc h3 {
  color: $brandSecondary;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}
.product-desc h2 {
  color: $brandSecondary;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 1.5em;
  line-height: 26px;
}
.product-desc p {
  color: $brandSecondary;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: .75em;
  line-height: 26px;
  padding-right: 20px;
}

.product-desc ul {
  list-style-type: disc;
  padding-left: 20px;
  li {
    margin-bottom: 10px;
  }
}

.super-script {
  font-size: 12px;
}

.abt-feature{
  padding-top: 5%;
}
/*-----------customize Section-----------*/

#customize {
  width: 100%;
  min-height: 650px;
  padding-top: 4%;
  background-color: #fcfcfc;
}

.colorpicker h3 {
  color: #3c3c3c;
  font-family: Source Sans Pro,sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.customize-content {
  padding-top: 5%;
}

.colorpicker {
  margin-top: 40px;
  margin-bottom: 60px;
}

.img-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 400px;
}

#board-side {
  min-width: 100%;
  max-width: 100%;
}

.overlay {
  position: absolute!important;
  top: 0px;
  left: 0px;
}

.thumbnail {
  border: 0!important;
  background-color: transparent;
}

.circle {
  margin: auto;
  -moz-border-radius: 65px/65px;
  -webkit-border-radius: 65px 65px;
  border-radius: 65px/65px;
  width:65px;
  height:65px;
}

.green {
  background: #7BF32C;
}

.purple {
  background: #FF32FF;
}

.teal {
  background: #33FFFF;
}

.none {
  background: #FFFFFF;
  border: 3px solid #000000;
}

/*-----------specifications Section-----------*/

#specifications {
  width: 100%;
  min-height: 650px;
  padding-top: 4%;
  background-color: #fcfcfc;
}
.specifications-content {
  padding-top: 5%;
}
#specifications h2 {
  text-transform: uppercase;
}
#specifications p {
  margin-bottom: 40px;
}

.home-center {
  background-color: #24caff;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height: 100vh;
  width: 100%;
}

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 600px;
  margin-top: 100px;
  left: 50%;
}

/*-----------Contact Section-----------*/

#contact {
  width: 100%;
  min-height: 570px;
  padding-top: 1100px;
}
.line-spacer {
  margin-top: 7%;
}
.contact-content {
  padding-top: 3%;
}
.contact-desc {
  padding-top: 11.5%;
}
.contact-desc h3 {
  font-size: 25px;
  font-weight: 400;
}
.contact-desc p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 1.5%;
  line-height: 23px;
  margin-left: 2%;
}

.fa-icon-1 {
  margin-right: 23px;
}

.fa-icon-2 {
  margin-right: 15px;
}

.fa-icon-3 {
  margin-right: 20px;
}

.form-group {
  margin-top: 4%;
}

/*-----------Footer-----------*/

.footer-divider {
  width: 100%;
  height: 2px;
  background-color: #dedede;
  margin-bottom: 10px;
}
footer {
  width: 100%;
  min-height: 60px;
}
footer p {
  text-align: center;
  color: $brandSecondary;
  line-height: 60px;
  font-weight: 400;
}

/*-----------Back to Top-----------*/

#back-to-top {
  position: fixed;
  bottom: 13px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background: $brandPrimary;
  color: #fff;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  opacity: 0;
}
#back-to-top:hover {
  background: $brandSecondary;
}
#back-to-top.show {
  opacity: 1;
}
#back-to-top i {
  line-height: 40px;
  font-size: 18px;
}

/*----------- Modals ------------*/
.modal-text-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

/*----------- Margins-----------*/
.mb-50 {
  margin-bottom: 50px;
}

/*----------- Price Toggle ------------*/
.pricing {
  margin-top: 400px;
  position: absolute;
  background: $accent;
  width: 480px;
  padding: 40px 0 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  & .thumbnail {
    display: block;
    width: 140px;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 36px;
    line-height: 90px;
    text-align: center;
  }
  & .title {
    cursor: pointer;
    background: $accent_hover;
    margin: 40px 0 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  & .content {
    display: none;
    & .sub-title {
      background: #eee;
      padding: 10px;
      color: #666;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
    & ul {
      list-style: none;
      background: #fff;
      margin: 0;
      padding: 0;
      color: #666;
      font-size: 14px;
      & li {
        padding: 10px 20px;
        &:nth-child(2n) {
          background: #f3f3f3;
        }
        & .fa {
          width: 16px;
          margin-right: 10px;
          text-align: center;
        }
        & .fa-check {
          color: #2ecc71;
        }
        & .fa-close {
          color: #e74c3c;
        }
      }
    }
    & a {
      display: block;
      background: $accent_hover;
      max-width: 150px;
      margin: 20px auto 0;
      padding: 10px 15px;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;
      &:hover {
        background: #34495e; /* IE Fallback */
        background: rgba(52,73,94,.7);
      }
    }
  }
}

.li-right-bold {
  font-weight: 700;
  float: right;
}


/*----------- Media Queries-----------*/

@media (min-width:1200px) {

}

@media (max-width: 991px){

  .service-box {
    margin-top: 4%;
  }
}

@media (max-width: 768px){

  .service-box {
    margin-top: 4%;
  }

  #home {
    padding-top: 45%;
  }
}



@media (max-width: 480px){

  .section-title {
    font-size: 45px;
  }

  .service-box {
    margin-top: 4%;
  }

  #home {
    padding-top: 45%;
  }


}


@media (max-width: 360px){

  .section-title {
    font-size: 35px;
  }

  .service-box {
    margin-top: 4%;
  }

  #home {
    padding-top: 45%;
  }


}
